<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetObjectsTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetObjectsTests.Properties.Settings>
            <setting name="PofInfectiveAllNet" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="NodeCountInNet" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PofBuckupChanel" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="PathToTestResults" serializeAs="String">
                <value>L:\Code\virusnew\trunk\NetObjects\NetObjectsTests\bin\Result</value>
            </setting>
        </NetObjectsTests.Properties.Settings>
    </applicationSettings>
</configuration>