<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NetObjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <NetObjects.Properties.Settings>
      <setting name="Path" serializeAs="String">
        <value>Results\</value>
      </setting>
      <setting name="viruscopy" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ExpCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="pinfective" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="uzelcount" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="countiteration" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="maxlinkcount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="minlink" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="addtomaxlinkcount" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CalculationNodeCount" serializeAs="String">
        <value>2</value>
      </setting>
    </NetObjects.Properties.Settings>
  </applicationSettings>
</configuration>