<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StartSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <StartSolution.Properties.Settings>
      <setting name="Path" serializeAs="String">
        <value>Results\</value>
      </setting>
      <setting name="viruscopy" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="pinfective" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="maxlinkcount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="minlink" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="segmentcount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="granica" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="adressdiffstrategy" serializeAs="String">
        <value>Sqrt</value>
      </setting>
      <setting name="isappend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="virussendstrategy" serializeAs="String">
        <value>CodeRed2</value>
      </setting>
      <setting name="CalculationNodeCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="isadresdiff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CountOfIteration" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="addtomaxlinkcount" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AverageLinkCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExpCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="NetType" serializeAs="String">
        <value>Quadro</value>
      </setting>
      <setting name="NodeInNetCount" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DefaultConnectionWeight" serializeAs="String">
        <value>0</value>
      </setting>
    </StartSolution.Properties.Settings>
  </applicationSettings>
</configuration>
